<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <h1>Wellcome to the Help Page</h1>
    <ol>
      <label for="app">App name is: </label>
      <li id="app">{{app_name}}</li>
      <label for="co">Company name is: </label>
      <li id= 'co'> {{company_name}}</li>
    </ol>
  </body>
</html>
